body {
    margin: 0;
    background-color: #05070f;
}

nav {
    position: fixed;
    top: 3rem;
    left: 35rem;
    right: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #B5B5B5;
    text-decoration: none;
    transition: color 0.3s;
}

.logo:hover {
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #B5B5B5;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}

#home {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: #05070f;
    padding: 0 2rem; 
}

#home h1 {
    font-size: 3rem;
    color: #ffffff;
}

.socials {
    display: flex;
    gap: 1.2rem;
    justify-content: center; 
    margin-bottom: 2.2rem;
}

.socials img {
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.socials img:hover {
    transform: scale(1.15); 
}

#home button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}